<div class="container-fluid" style="background-color: #e3e3e3">
  <div class="col-xs-12">
    <h6 align = "center" class="text-primary"><i class="fa fa-edit fa-lg text-primary"></i> Editing Consumer</h6>
    <%= render 'form_consumer_child_row' %>
    <br />
    <%#= link_to 'Show', @consumer %>
    <%#= link_to 'Back', consumers_path %>
  </div>
</div>

