var $parent_row = $("#consumer_action_<%= @row_id %>").closest('TR');
if ( $('tr.child-row:visible').length > 0 ) {
  $('tr.child-row:visible').remove();
  $("li>a:contains('Collapse Form')").addClass('disabled');

}
$parent_row.after('<tr class="child-row"><td colspan="100"><%= j render "edit_consumer_child_row"%></td></tr>');