<style>
.btn {
    /* display: inline-block; */
    /* font-weight: normal; */
    line-height: 0.6;
    /* text-align: center; */
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
}

.table th, .table td {
    padding: 0.3rem;
    /* vertical-align: top; */
    /* border-top: 1px solid #eceeef; */
}

</style>
<div class="consumer-actions-button dropdown pull-right" id="consumer_action_<%= consumer_id.to_s %>" >
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Actions 
    <span class="caret"></span>
  </button>
  
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
  <% dropdowns.each do |line| %>
    <!-- line[0] is Link Name (Eg: Add SEP)
         line[1] is Link Path
         line[2] is Link Type (ajax, static or disabled) -->
    <li >
      <%case line[2]%>
      <%when "disabled"%>
        <%= link_to line[0], line[1], class: "btn btn-default btn-xs", disabled: true%>
      <%when "static"%>
        <%= link_to line[0], line[1], class: "btn btn-default btn-xs" %>
      <%when "ajax"%>
        <%= link_to line[0], line[1], class: "btn btn-default btn-xs", remote: true %>
      <%end%>
    </li>
  <% end %>
  </ul>
</div>
<script>
  $("li>a:contains('Collapse Form')").addClass('disabled');
</script>


